<!DOCTYPE html>

<html>

    <head>
        <title>home page</title>
        <link rel="icon" href="../static/img/controller.png" />
        <link rel="stylesheet" href="../static/style/main.css" >
        <link rel="stylesheet" href="../static/style/home_page.css">
        <!-- link for flask app -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}"> -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- Header -->
        <div class="header_style">
            <a href="../templates/homepage.html">
                <img class="logo" src="../static/img/game-controller.png" />
            </a>

            <div class="header_links">
                <a href="../templates/homepage.html">Home</a>
                <a href="#">About</a>
                <button>Sign in</button>
            </div>
        </div>

        <h1>this is about page</h1>

</html>